# Compiled Object files
*.slo
*.lo
*.o
*.opp
*.oxx

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# log file
*.log

# results
*.out
*.dbg

# vim swap file
.*.swp
.*.swo

# eclipse project files
.project
.classpath
gui/bin/*

# results
results/*

# library, include and executable files
include/boost/*
config_test
thermal_sim
