# Compiled Object files
*.slo
*.lo
*.o
*.opp
*.oxx

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# vim swap file
*.swp

# library, include and executable files
include/*
config_test
thermal_sim
